* {
  margin: 16px;
  margin-left: 0;
  margin-right: 0;
}
body {
  display: inline-block;
  width: 800px;
  height: 500px;
  margin-top: 0;
  overflow: hidden;
}
.main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  position: fixed;
  top: 0;
  width: 800px;
  height: 500px;
  margin-top: 0;
  flex-direction: column;
  background-image: url("table.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: rgb(232, 238, 240);
  font-weight: bold;
  font-size: x-large;
}
h1 {
  color: goldenrod;
}

#poruka-el {
  font-style: italic;
}
button {
  color: #171a18;
  width: 150px;
  background: goldenrod;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  position: center;
}
#player-el {
  color: goldenrod;
}
span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin: 0;
}
.card {
  height: 60px;
  width: 40px;
  margin: 2px;
}
